<div class="" id="ranks">
    <p class="text-info">Your Score: {{self.score}}</p>
    <div class="ranks">
        {{#each ranks}}
        <div class="rank">
            <div class="cell">{{@index}}</div>
            <div class="cell">{{this.name}}</div>
            <div class="cell">{{this.score}}</div>
        </div>
        {{/each}}
    </div>
</div>

<footer><a href="https://www.freepik.com/free-photos-vectors/ribbon">Ribbon vector created by macrovector -
        www.freepik.com</a></footer>